<!-- templates/set_password_expiry.html -->
{% extends "base.html" %} {% block content %}
<h2>Ustaw Wygaśnięcie Hasła Użytkownika</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.username.label(class="form-label") }} {{
    form.username(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.days.label(class="form-label") }} {{ form.days(class="form-control")
    }}
  </div>
  <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}
